<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Plug it" icon-off="ion-outlet" icon-on="ion-outlet" href="#/tab/plug">
    <ion-nav-view id="plug-view" name="tab-plug"></ion-nav-view>
  </ion-tab>

  <!-- Report Tab -->
  <ion-tab title="Report" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag" href="#/tab/report">
    <ion-nav-view id="report-view" name="tab-report"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view id="account-view" name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
