#newReport {

  .picture {
    position: relative;

    img {
      margin-top: 10px;
      margin-bottom: 10px;

    }

    .tap2pic {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      text-shadow: 0px 0px 5px black;
      top: 45%;
      color: white;
      font-weight: bold;
      font-size: 30px;
    }
  }
}
